* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.label {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  margin: 1rem;
}

.label input {
  border: none;
  padding: 7px;
}

.input-icon {
  background-color: #009BD2;
  display: inline-block;
  padding: 10px 7px 6px 7px;
}
